# fichier de config pour la commande ansible-playbook

[defaults]
# Indique à Ansible où se trouve la liste des serveurs cibles (l'inventaire).
inventory = inventory.ini

# Définit l'utilisateur par défaut pour se co en ssh
remote_user = root

# chemin vers la clef du server cible
private_key_file = ~/.ssh/id_ed25519

# Désactive la vérification manuelle de la clé de l'hôte lors de la première connexion.
# Évite que le script ne se bloque en attendant que tu tapes "yes" dans le terminal.
host_key_checking = False