# Le site (PHP). Déposé par le rôle wordpress.
services:
  wordpress:
    image: wordpress:php8.1-fpm
    restart: always
    depends_on:
      - mysql
    environment:
      WORDPRESS_DB_HOST: mysql
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE}
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - wp_data:/var/www/html   # volume nommé : le site survit au reboot
    networks:
      - wp_network


  wpcli:
    image: wordpress:cli
  
    # profile pour pas qu il se lance avec le   docker compose up -d 
    # se declachne que dans la main si Check whether WordPress  fail
    profiles:
      - tools
    depends_on:
      - mysql
      - wordpress
    environment:
      WORDPRESS_DB_HOST: mysql
      WORDPRESS_DB_NAME: ${MYSQL_DATABASE}
      WORDPRESS_DB_USER: ${MYSQL_USER}
      WORDPRESS_DB_PASSWORD: ${MYSQL_PASSWORD}
    volumes:
      - wp_data:/var/www/html
    networks:
      - wp_network
      # user 33 = user par defaut de php-fpm. car wp cli tourne pas en reboot
      # donc besoin dun user , fait tourner le cli en tant que php fpm
    user: "33:33" 
